<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href = "{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Hitesh A</h1>
        <h2>Cybersecurity || Android Developer </h2>
        <img src = "{{ url_for('static', filename='hitesh.jpg') }}" >
        <a href="/about">More About Me</a>
        

    </div>
</body>
</html>